
<h1>Home#index</h1>

<% if user_signed_in?%>
	<%= link_to 'LOGOUT',destroy_user_session_path, method: :delete%>
	<%= link_to 'Edit profile', edit_user_registration_path %> |
<%else%>
	<%= link_to 'Register here', new_user_registration_path%>
	<%= link_to 'Login here', new_user_session_path%>
<%end%>