 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" >
       <ul class="nav navbar-nav">
       <li><img src="/assets/logo1.png" style="width:140px; margin-top: 2px;"></li>
       <li><%= link_to 'Shows Blogs',blogs_path %></li>
     </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
     </li>
     <li><%= link_to "Login", new_user_session_path %></li>
     <!--  <li><span class="glyphicon glyphicon-log-in" style="color:white; width: 50px, height:50px"></span></li>  -->
      <li><%= link_to 'Sign Up',new_user_registration_path %></li>
       
    </ul>
  </div>
</nav> 